@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto',
      sans-serif;
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body {
    height: 400vh;
}

.nav {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 9;
    background-color: #0094FF;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"taal logo ."
    "mappen mappen mappen";
}

.taal {
    grid-area: "taal";
    background-color: #fff;
    height: 45%;
    width: 75%;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 17fr 10fr;
    margin: 20px auto;
    img {
        margin: auto auto;
    }
}

.logo {
    grid-area: "logo";
    height: 72px;
    margin:5px auto;
}
.mappen {
    transform: translateY(3px);
    grid-area: mappen;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    height: 50px;
    overflow: scroll;
    .items {
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 0px 15px;
    width: 120%;
    }
    .actief {
        background-color: #0094FF !important;
        color: #FFF !important;
        padding: 10px 25px !important;
        border-radius: 40px !important;
    }
    p {
        color: #1F2937;
        font-weight: bold;
        margin: auto;
        padding: 10px 15px;
    }
}
.container {
    margin: 15px;
}
.item {
    margin-top: 10px;
    border: 1px solid #9CA3AF;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 140px;
    .foto {
        margin: 5px;
        background-color: #0094FF;
        border-radius: 40px;
        height: 130px;
        text-align: center;
        img {
            height: 90%;
            width: auto;
            margin-top: 5px;
        }
    }
    .info {
        margin: 20px;
        font-weight: bold;
        p {
            color: #1F2937;
        }
    }
    .titel {
        font-size: 26px;
    }
    .prijs {
        margin-top: 10%;
        font-size: 20px;
        color: #0094FF !important;
    }
}